*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
   --cor-bg:tomato;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;

}
.cor{
    background-color: var(--cor-bg);
}